@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

*::-webkit-scrollbar{
    width: .4vw;
    height: .8vh;
}

*::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 25px;
    border: 1px white solid;
    /* box-shadow: -5px 0 10px -1px aqua, -5px 0 5px -1px aqua, -5px 0 5px -1px white; */
    cursor: pointer;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 25px;
}

.content{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, red, midnightblue);
    padding: 20px;
    padding-bottom: 0px;
    overflow-y: scroll;
}

.content .chapters{
    background: rgba(255, 255, 255, 0.597);
    padding: 15px;
    height: fit-content;
    margin-bottom: 20px;
    border-radius: 18px;
}